<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="components/layout">

  <head>
    <meta charset="UTF-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Floorball fighters</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" href="../../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <!--  Site specific CSS -->
    <link th:href="@{/static/layout.css}" href="../../../static/layout.css" rel="stylesheet" />
  </head>

  <body>

	<div class="container" layout:fragment="content">
		<div class="row">
	        <p>Floorball fighters - welcome!</p>
			<form action="#" th:action="@{/day/new}" method="post">
			    <input type="submit" class="btn btn-primary" value="Create a new day"/>
			</form>
		</div>
		<div class="row">
		
			<ul>
			<li th:each="day : ${days}">
				<a href="#" th:href="@{${'/day/' + day.id + '/view'}}">
					<button type="button" class="btn btn-info" th:text="${'Day ' + day.id}">Day 1</button>
				</a>
			</li>
			</ul>
		</div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/static/jquery.min.js}" src="../../../static/jquery.min.js"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}" src="../../../static/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>