<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      >

  <head>
    <meta charset="UTF-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Floorball fighters</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" href="../../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <!--  Site specific CSS -->
    <link th:href="@{/static/layout.css}" href="../../../static/layout.css" rel="stylesheet" />
  </head>

  <body>

	<div layout:fragment="content">
		<div class="container" id="scoreScreen">
			<!-- 		<h2 th:text="${'Game number ' + showGame}">Game number 123</h2> -->

			<div class="row">
				<div class="col-sm-4 text-center">
					<div class="col-sm-offset-4 col-sm-8 ist focus" id="istName">Ist</div>
				</div>

				<div class="col-sm-3 text-center focus"
					th:text="${scoreIst + ' - ' + scoreVest}">12 - 12</div>

				<div class="col-sm-4 text-center">
					<div class="col-sm-8 vest focus" id="vestName">V&#228;st</div>
				</div>
			</div>
			<div class="row show-grid">
				<div class="col-xs-5">
					<ul class="list-group" th:remove="all-but-first">
						<li class="list-group-item ist text-right"
							th:each="gameMember : ${istPlayers}"><img class="scoreIcon"
							src="../../../static/goal.png" th:src="@{/static/goal.png}"
							th:each="a : ${gameMember.scoredGoals}" /> <img
							class="scoreIcon" src="../../../static/assist.png"
							th:src="@{/static/assist.png}"
							th:each="a : ${gameMember.assistedGoals}" /> <span
							th:text="${gameMember.player.name}">player1</span></li>
						<li class="list-group-item ist text-right">player2</li>
						<li class="list-group-item ist text-right">player3</li>
						<li class="list-group-item ist text-right">player4</li>
						<li class="list-group-item ist text-right">player5</li>
					</ul>
				</div>
				<div class="col-xs-1"></div>
				<div class="col-xs-5">
					<ul class="list-group" th:remove="all-but-first">
						<li class="list-group-item vest text-left"
							th:each="gameMember : ${vestPlayers}"><img class="scoreIcon"
							src="../../../static/goal.png" th:src="@{/static/goal.png}"
							th:each="a : ${gameMember.scoredGoals}" /> <img
							class="scoreIcon" src="../../../static/assist.png"
							th:src="@{/static/assist.png}"
							th:each="a : ${gameMember.assistedGoals}" /> <span
							th:text="${gameMember.player.name}">player1</span></li>
						<li class="list-group-item vest text-left">player2</li>
						<li class="list-group-item vest text-left">player3</li>
						<li class="list-group-item vest text-left">player4</li>
						<li class="list-group-item vest text-left">player5</li>
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-offset-4 col-sm-3 text-center">
					<form action="#" th:action="@{${'/day/' + showDay + '/view'}}"
						method="get">
						<input class="btn" type="submit" value="Leave game" />
					</form>
				</div>
			</div>
		</div>
    
    <div class="container vest" id="vestScore">
    	<form action="#" th:action="@{${'/game/' + showGame + '/score/custom'}}" th:object="${customScoreForm}" method="post">
    		<div class="row">
				<div class="col-md-4">
					<h2>Scorer</h2>
			    	<ul>
					  <li th:each="gameMember : ${vestPlayers}">
					    <input type="radio" th:field="*{scorer}" th:value="${gameMember.id}" />
					    <label th:for="${#ids.prev('scorer')}" th:text="${gameMember.player.name}">player1</label>
					  </li>
					</ul>
				</div>
	
				<div class="col-md-4">
					<h2>Assister</h2>
			    	<ul>
					  <li th:each="player : ${vestPlayers}">
					    <input type="radio" th:field="*{assister}" th:value="${player.id}" />
					    <label th:for="${#ids.prev('assister')}" th:text="${player.player.name}">player1</label>
					  </li>
					</ul>
				</div>
				
				<div class="col-md-4">
					<h2>Goal type</h2>
					<ul>
					  <li th:each="ty : ${allScoreTypes}">
					    <input type="radio" th:field="*{goalType}" th:value="${#ids.next('goalType')}" />
					    <label th:for="${#ids.prev('goalType')}" th:text="${ty}">Långskott</label>
					  </li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-8 col-md-4">
					<input type="hidden" name="team" th:value="2"/>
					<input type="hidden" name="gameId" th:value="${showGame}"/>
					<input type="hidden" name="dayId" th:value="${showDay}"/>
					<input class="btn" type="submit" value="Add score for vest"/>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<button class="cancel btn">Cancel</button>
			</div>
		</div>
    </div>
    
    <div class="container ist" id="istScore">
    	<form action="#" th:action="@{${'/game/' + showGame + '/score/custom'}}" th:object="${customScoreForm}" method="post">
    		<div class="row">
				<div class="col-md-4">
					<h2>Scorer</h2>
			    	<ul>
					  <li th:each="gameMember : ${istPlayers}">
					    <input type="radio" th:field="*{scorer}" th:value="${gameMember.id}" />
					    <label th:for="${#ids.prev('scorer')}" th:text="${gameMember.player.name}">player1</label>
					  </li>
					</ul>
				</div>
	
				<div class="col-md-4">
					<h2>Assister</h2>
			    	<ul>
					  <li th:each="player : ${istPlayers}">
					    <input type="radio" th:field="*{assister}" th:value="${player.id}" />
					    <label th:for="${#ids.prev('assister')}" th:text="${player.player.name}">player1</label>
					  </li>
					</ul>
				</div>
				
				<div class="col-md-4">
					<h2>Goal type</h2>
					<ul>
					  <li th:each="ty : ${allScoreTypes}">
					    <input type="radio" th:field="*{goalType}" th:value="${#ids.next('goalType')}" />
					    <label th:for="${#ids.prev('goalType')}" th:text="${ty}">Långskott</label>
					  </li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-offset-8 col-md-4">
					<input type="hidden" name="team" th:value="1"/>
					<input type="hidden" name="gameId" th:value="${showGame}"/>
					<input type="hidden" name="dayId" th:value="${showDay}"/>
					<input class="btn" type="submit" value="Add score for vest"/>
				</div>
			</div>
		</form>
		<div class="row">
			<div class="col-md-4 col-md-offset-8">
				<button class="cancel btn">Cancel</button>
			</div>
		</div>
    </div>

	</div>

    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/static/jquery.min.js}" src="../../../static/jquery.min.js"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}" src="../../../static/bootstrap/js/bootstrap.min.js"></script>
    <script th:src="@{/static/game.js}" src="../../../static/game.js"></script>

  </body>

</html>