<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="components/layout">

  <head>
    <meta charset="UTF-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Floorball fighters</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" href="../../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <!--  Site specific CSS -->
    <link th:href="@{/static/layout.css}" href="../../../static/layout.css" rel="stylesheet" />
  </head>

  <body>
	<div class="container" layout:fragment="content">
<!-- 		<h2 th:text="${'Game number ' + showGame}">Game number 123</h2> -->

	    <div class="row">
	    	<div class="col-sm-4 text-center">
				<form class="col-sm-4" action="#" th:action="@{${'/game/' + showGame + '/score/ist/1'}}" method="post">
				    <input class="btn" type="submit" value="+1 Score"/>
				</form>
				<div class="col-sm-8 ist focus" >Ist</div>
	    	</div>

        	<div class="col-sm-3 text-center focus" th:text="${scoreIst + ' - ' + scoreVest}">12 - 12</div>
        	
	    	<div class="col-sm-4 text-center">
				<div class="col-sm-8 vest focus" >V&#228;st</div>
				<form class="col-sm-4" action="#" th:action="@{${'/game/' + showGame + '/score/vest/1'}}" method="post">
				    <input class="btn" type="submit" value="+1 Score"/>
				</form>
	    	</div>
		</div>
		<div class="row show-grid">
	        <div class="col-xs-5">
				<ul class="list-group" th:remove="all-but-first">
					<li class="list-group-item ist text-right" th:each="gameMember : ${istPlayers}" th:text="${gameMember.player.name}">player1</li>
					<li class="list-group-item ist text-right" >player2</li>
					<li class="list-group-item ist text-right" >player3</li>
					<li class="list-group-item ist text-right" >player4</li>
					<li class="list-group-item ist text-right" >player5</li>
				</ul>
			</div>
			<div class="col-xs-1" ></div>
	        <div class="col-xs-5">
				<ul class="list-group" th:remove="all-but-first">
					<li class="list-group-item vest text-left"  th:each="gameMember : ${vestPlayers}" th:text="${gameMember.player.name}">player1</li>
					<li class="list-group-item vest text-left" >player2</li>
					<li class="list-group-item vest text-left" >player3</li>
					<li class="list-group-item vest text-left" >player4</li>
					<li class="list-group-item vest text-left" >player5</li>
				</ul>
			</div>
      </div>

	    <div class="row">
	    	<div class="col-sm-4 text-left">
				<form action="#" th:action="@{${'/game/' + showGame + '/score/ist/-1'}}" method="post">
				    <input class="btn" type="submit" value="-1 Score"/>
				</form>
	    	</div>
        	<div class="col-sm-3 text-center">
				<form action="#" th:action="@{${'/day/' + showDay + '/view'}}" method="get">
				    <input class="btn" type="submit" value="Leave game"/>
				</form>
        	</div>
	    	<div class="col-sm-4 text-right">
				<form action="#" th:action="@{${'/game/' + showGame + '/score/vest/-1'}}" method="post">
				    <input class="btn" type="submit" value="-1 Score"/>
				</form>
	    	</div>
		</div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/static/jquery.min.js}" src="../../../static/jquery.min.js"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}" src="../../../static/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>