<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8"/>
    <title>Player components</title>
    
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" href="../../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <!--  Site specific CSS -->
    <link th:href="@{/static/layout.css}" href="../../../static/layout.css" rel="stylesheet" />
</head>

<body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" layout:fragment="header" layout:include="header :: header">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
       <div class="navbar-header">
             <a class="navbar-brand" href="#">I am DUMMY header</a>
       </div>
      </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8" layout:fragment="lookupPlayer">
            
				<div layout:include="components/errors :: errors">
					<p>Error component placeholder</p>
				</div>

				<form action="#" th:action="@{${searchFormAction}}"
					th:object="${playerSearch}" method="get">

					<div class="form-group"
						th:classappend="${#fields.hasErrors('searchString')}? 'has-error'">
						<label class="control-label">Search for</label> <input type="text"
							class="form-control" placeholder="nucleus id or email"
							th:field="*{searchString}"
							th:classappend="${#fields.hasErrors('searchString')}? 'fieldError'" />
						<div th:errors="*{searchString}" class="alert alert-danger">
							<button type="button" class="close" data-dismiss="alert">&times;</button>
							<p>Field required</p>
						</div>
					</div>

					<input class="btn btn-default" type="submit" value="Lookup" />
				</form>
			</div>
        </div> <!--/row-->
    </div>

    <hr/>

    <div class="container">
        &copy; Easy floorball league
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/static/jquery.min.js}" src="../../../static/jquery.min.js"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}" src="../../../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
