<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="components/layout">

  <head>
    <meta charset="UTF-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Floorball fighters</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" href="../../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <!--  Site specific CSS -->
    <link th:href="@{/static/layout.css}" href="../../../static/layout.css" rel="stylesheet" />
    <link th:href="@{/static/common.css}" href="../../../static/common.css" rel="stylesheet" />
  </head>

  <body>
	<div class="container" layout:fragment="content">
		<div class="row">
			<h2 th:text="${'Summary of day ' + showDay}">Summary of day 123</h2>
		</div>

		<div class="row">
		<table id="ranking" class="table table-striped">
	        <thead>
	          <tr>
	            <th class="first-cell">Ranking points</th>
	            
	            <th>Name</th>
	            <th>Goals</th>
	            <th>Assists</th>
	            
	            <th>Team total</th>
	            
	            <th>+/-</th>
	            <th>Games</th>
	            
	            <th>Wins</th>
	            <th>Losses</th>
	            <th>Ties</th>
	          </tr>
	        </thead>
	        <tbody>
	          <tr th:each="sp : ${summarizedPlayers}" th:object="${sp}">
	            <td class="first-cell" th:text="${sp.rankingPoints}">10</td>

	            <td th:text="${sp.name}">Larry</td>
	            <td th:text="${sp.goals}">1</td>
	            <td th:text="${sp.assists}">2</td>
	            
	            <td th:text="${sp.teamGoals + '-' + sp.opponentGoals}">2-3</td>
	            
	            <td th:text="${sp.plusMinus}">5</td>
	            <td th:text="${sp.games}">6</td>
	            
	            <td th:text="${sp.wins}">7</td>
	            <td th:text="${sp.losses}">8</td>
	            <td th:text="${sp.ties}">9</td>
	          </tr>
	        </tbody>
		</table>
		</div>

		<div class="row">
			<h2>Games played</h2>
			<ul th:remove="all-but-first">
				<li th:each="game : ${day.games}">
					<a class="btn btn-info" th:href="@{${'/game/' + game.id + '/view'}}" href="#" th:text="${'game ' + game.id}">game 1: 3-5</a>
				</li>
				<li>game 1: 3-5</li>
				<li>game 3: 4-2</li>
				<li>game 4: 3-5</li>
				<li>game 17: 3-5</li>
			</ul>
		</div>
		
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/static/jquery.min.js}" src="../../../static/jquery.min.js"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}" src="../../../static/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>