<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="components/layout">

  <head>
    <meta charset="UTF-8"/>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <title>Floorball fighters</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/static/bootstrap/css/bootstrap.min.css}" href="../../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    
    <!--  Site specific CSS -->
    <link th:href="@{/static/layout.css}" href="../../../static/layout.css" rel="stylesheet" />
  </head>

  <body>
	<div class="container" layout:fragment="content">
		<h2 th:text="${'Day number ' + showDay}">Day number 123</h2>
		<form action="#" th:action="@{${'/day/' + showDay + '/matchMakeAllRandom'}}" method="post">
		    <input type="submit" value="Make random teams!"/>
		</form>
		<ul th:remove="all-but-first">
			<li th:each="dayPlayer : ${day.dayPlayers}">
				<span th:text="${dayPlayer.player.name}">player1</span>
				<span th:text="${dayPlayer.requiredTeam > 0 ? dayPlayer.requiredTeam : '[any team]'}">team</span>
					<form action="#" th:action="@{${'/day/' + showDay + '/playerToggleTeam/' + dayPlayer.id}}" method="post">
					    <input type="submit" value="Toggle team"/>
					</form>
			</li>
			<li>player2</li>
			<li>player3</li>
			<li>player4</li>
			<li>player5</li>
		</ul>

		<h2>Todays games</h2>
		<ul th:remove="all-but-first">
			<li th:each="game : ${day.games}">
				<a th:href="@{${'/game/' + game.id + '/view'}}" href="#" th:text="${'game ' + game.id + ': ' + game.team1Score + ' - ' + game.team2Score}">game 1: 3-5</a>
			</li>
			<li>game 1: 3-5</li>
			<li>game 3: 4-2</li>
			<li>game 4: 3-5</li>
			<li>game 17: 3-5</li>
		</ul>
		<form action="#" th:action="@{${'/day/' + showDay + '/players'}}" method="get">
		    <input type="submit" value="Edit players"/>
		</form>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/static/jquery.min.js}" src="../../../static/jquery.min.js"></script>
    <script th:src="@{/static/bootstrap/js/bootstrap.min.js}" src="../../../static/bootstrap/js/bootstrap.min.js"></script>

  </body>

</html>