/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

.row {
	margin-bottom: 15px;
}

.sidebar-offcanvas ul {
	list-style-type: none;
	padding: 0;
}

.ist {
	background-color: #ccddff;
}

.vest {
	background-color: #ff3333;
	color: #ffffff;
}

.focus {
	font-size: 64px;
}

.scoreIcon {
	width: 32px;
	height: 32px;
}

#vestScore h2, #istScore h2 {
	font-size: 3em;
}  

#vestScore li, #istScore li {
	list-style-type: none;
}

#vestScore li, #istScore li, #istScore input, #istScore button, #vestScore input, #vestScore button {
	font-size: 2em;
}  