/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 60px;
  padding-bottom: 20px;
}

li {
	list-style-type: none;
}

.stripedPlayerList li {
	margin-top: 1em;
}

.stripedPlayerList li:nth-child(odd) {
	background-color: #f3f3fa;
}

.row {
	margin-bottom: 15px;
}

.btn {
	margin: 1px;
}
.sidebar-offcanvas ul {
	list-style-type: none;
	padding: 0;
}

ul {
	padding: 1px;
}

/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
}

.header {
	background-image: url(../static/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	background-color: #8b8;
}

.headerSortUp {
	background-image: url(../static/asc.gif);
	background-color: #4b4;
}
.headerSortDown {
	background-image: url(../static/desc.gif);
	background-color: #4b4;
}
